@import "../../../styles/settings.scss";

.root {
  .component {
    .photoWrapper {
      height: 250px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .linkWrapper {
      display: flex;
      a {
        text-decoration: none;
        margin: 0 auto;
        padding-bottom: $base-size;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
